parameters:
    locale: ru
    kernel.secret: 1cff313fe2c7ea760869c89ead447314
    basic.login: basic@login
    basic.pass: "BASIC-PASSWORD"
    basic.hash: "BASIC-HASH"
    target.login: target@login
    target.pass: "TARGET-PASSWORD"
    target.hash: "TARGET-HASH"
    host.basic: https://basichost.amocrm.ru
    host.target: https://targethost.amocrm.ru
    request.auth: /private/api/auth.php
    request.deal: /api/v2/leads
    request.task: /api/v2/tasks
    request.company: /api/v2/companies
    request.contact: /api/v2/contacts
    request.custom: /api/v2/fields
    request.customer: /api/v2/customers
    request.note: /api/v2/notes
    funnel.get: /api/v2/pipelines
    funnel.add: /private/api/v2/json/pipelines/set
