parameters:
    locale: ru
    kernel.secret: 1cff313fe2c7ea760869c89ead447314
    database_host:     icontextdev.ru
    database_port:     3306
    database_name:     amocrm
    database_user:     amocrm
    database_password: jKjgIUGgvchAX
    basic.login: anya@icontext.ru
    basic.pass: "!O3xJ*De7S2O"
    basic.hash: c9d172b0fee534eb6ba2899f9f05b8470c26ca6b
    target.login: k.samsonov@icontextgroup.ru
    target.pass: "Pa$$1234"
    target.hash: b85f7aac44825172bb4c1e904a84fbd8212c0350
    host.basic: https://icontextall.amocrm.ru
    host.target: https://new5832c10517fd6.amocrm.ru
    auth.post: /private/api/auth.php
    deal.get: /api/v2/leads
    deal.add: /api/v2/leads
    funnel.get: /api/v2/pipelines
    funnel.delete: /private/api/v2/json/pipelines/delete